@import "tailwindcss";
/* button.module.css */

@value buttonTextColor: white;

.button {
  @apply inline-flex items-center justify-center flex-shrink-0 border-none outline-none select-none cursor-pointer gap-2 transition-colors px-5 py-3 rounded-full min-h-8 min-w-max;
  composes: largeBold from '../../styles/typography.module.css';
}

.solid {
  background-color: var(--button-scheme);
  color: var(--button-text-color);
  composes: button;
}

.outline {
  border: 2px solid var(--button-scheme);
  color: var(--button-scheme);
  composes: button;
}

.link {
  text-decoration: underline;
  color: var(--button-scheme);
  text-underline-offset: 0.5rem;
  composes: button;
}

.solid:not(:disabled):hover {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
}

.link:not(:disabled):hover {
  color: var(--button-focus-color);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--button-hover-color);
}

.outline:not(:disabled):hover {
  background-color: var(--button-scheme);
  color: var(--button-text-color);
}

:is(.solid, .outline):not(:disabled):focus {
  background-color: var(--button-focus-color);
  color: var(--button-text-color);
}

.link:not(:disabled):focus {
  color: var(--button-focus-color);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--button-focus-color);
}

.disabled {
  background-color: var(--color-grayscale-200);
  color: var(--color-grayscale-500);
  @apply cursor-not-allowed;
}
