@import "tailwindcss";
.pending {
  background-color: var(--color-warning-100);
}

.dot-pending {
  background-color: var(--color-warning-500);
}

.text-pending {
  color: var(--color-warning-700);
}

.approved {
  background-color: var(--color-success-100);
}

.dot-approved {
  background-color: var(--color-success-500);
}

.text-approved {
  color: var(--color-success-700);
}

.denied {
  background-color: var(--color-error-100);
}

.dot-denied {
  background-color: var(--color-error-500);
}

.text-denied {
  color: var(--color-error-700);
}

.reminded {
  background-color: var(--color-error-100);
}

.dot-reminded {
  background-color: var(--color-error-500);
}

.text-reminded {
  color: var(--color-error-700);
}

.archived {
  background-color: var(--color-grayscale-200);
}

.dot-archived {
  background-color: var(--color-grayscale-500);
}

.text-archived {
  color: var(--color-grayscale-700);
}

.resolved {
  background-color: var(--color-success-100);
}

.dot-resolved {
  background-color: var(--color-success-500);
}

.text-resolved {
  color: var(--color-success-700);
}
