@import "tailwindcss";
/* card.module.css */
.card {
  @apply flex flex-col items-start w-full min-w-fit bg-white rounded-2xl;
  border: 1px solid var(--color-grayscale-200);
}

.header {
  composes: h4 from '../../styles/typography.module.css';
  @apply flex p-8 items-center gap-4 self-stretch;
  border-bottom: 1px solid var(--color-grayscale-200);
}

.body {
  @apply flex flex-col justify-center items-start gap-8 self-stretch p-8;
}

.footer {
  @apply flex flex-col items-start self-stretch pt-2;
}
