@import "tailwindcss";
.checkbox {
  @apply flex items-center cursor-pointer select-none;
}

.checkbox input {
  @apply w-5 h-5 flex-shrink-0 appearance-none rounded bg-white;
  border: 2px solid var(--checkbox-initial-color);
}

.checkbox input:checked {
  accent-color: var(--checkbox-scheme);
  appearance: auto;
}

.checkbox input:enabled:hover {
  border-color: var(--checkbox-scheme);
}

.toggle input {
  @apply hidden;
}

.toggleSlider {
  @apply w-10 h-6 rounded-full relative transition-colors ease-in duration-300;
  background-color: var(--color-grayscale-400);
}

.toggleSlider::before {
  @apply w-5 h-5 bg-white rounded-full absolute top-0.5 left-0.5 transition transform ease-in duration-300;
  content: '';
}

.toggle input:checked + .toggleSlider {
  background-color: var(--checkbox-scheme);
}

.toggle input:checked + .toggleSlider::before {
  @apply translate-x-4;
}

.checkbox input:disabled,
.checkbox input:disabled ~ * {
  @apply cursor-not-allowed opacity-50;
}

.checkbox input:disabled {
  background-color: var(--checkbox-disabled-color);
}

.label {
  @apply ml-2;
  composes: baseBold from '../../styles/typography.module.css';
}
